$_main_text_color: #042307;
$_main_bg_color: rgba(88, 190, 141, 60%);
$_second_bg_color: #f6ffd0;

$_main_font_family: 'Lato', sans-serif;
$_main_font_size: 24px;

$transition-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$transition: 300ms;
