<section class="about-the-game" id="about">
  <div class="container about-the-game__position">
    <h2 class="about-the-game__title">About the Game</h2>
    <img
      class="about-the-game__bigAplle"
      src="./img/aboutTheGame/apple-is-big.svg"
      alt="apple"
    />
    <p class="about-the-game__text">
      Join Coco the mother hen and her chicks in "Bubble Coco," a vibrant bubble
      shooting game. Help them rescue their precious chicks from the cunning fox
      by solving a variety of colorful and engaging puzzles. Enjoy hundreds of
      levels, each offering unique challenges and fun surprises.
    </p>
    <img
      class="about-the-game__aplle"
      src="./img/aboutTheGame/apple.svg"
      alt="apple"
    />
  </div>
</section>
