<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__title">Advantages</h2>
    <ul class="advantages__list adv-container">
      <li class="advantages__item">
        <img
          class="advantages__img"
          src="./img/advantageImg/graphics.svg"
          alt="graphics"
        />
        <p class="advantages__text">Colorful and engaging graphics</p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="./img/advantageImg/trophy.svg"
          alt="trophy"
        />
        <p class="advantages__text">Hundreds of challenging levels</p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="./img/advantageImg/game.svg"
          alt="game"
        />
        <p class="advantages__text">Fun and interactive game character</p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="./img/advantageImg/update.svg"
          alt="update"
        />
        <p class="advantages__text">Regular updates with new features</p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="./img/advantageImg/learn.svg"
          alt="learn"
        />
        <p class="advantages__text">
          Easy to learn, but hard to master gameplay
        </p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="./img/advantageImg/all_ages.svg"
          alt="all_ages"
        />
        <p class="advantages__text">Great for all ages</p>
        <img
          class="advantages__chick"
          src="./img/advantageImg/image.svg"
          alt="chick"
        />
      </li>
    </ul>
  </div>
</section>
