<section class="advatages">
  <h2 class="advantages__title">Advantages</h2>
  <div class="container adv-container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../img/advantageImg/graphics.svg"
          alt=""
        />
        <p class="advantages__text">Colorful and engaging graphics</p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../img/advantageImg/trophy.svg"
          alt=""
        />
        <p class="advantages__text">Hundreds of challenging levels</p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../img/advantageImg/game.svg"
          alt=""
        />
        <p class="advantages__text">Fun and interactive game character</p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../img/advantageImg/update.svg"
          alt=""
        />
        <p class="advantages__text">Regular updates with new features</p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../img/advantageImg/learn.svg"
          alt=""
        />
        <p class="advantages__text">
          Easy to learn, but hard to master gameplay
        </p>
      </li>

      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../img/advantageImg/all_ages.svg"
          alt=""
        />
        <p class="advantages__text">Great for all ages</p>
        <img
          class="advantages__chick"
          src="../img/advantageImg/image.svg"
          alt=""
          srcset=""
        />
      </li>
    </ul>
  </div>
</section>
