<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="benefits__title">Benefits</h2>
    <p class="benefits__text">
      Feel free to dive into "Bubble Coco" for a delightful bubble-shooting
      adventure that's both fun and challenging!
    </p>
    <ul class="benefits__list">
      <li class="benefits__item">
        <img class="benefits__img" src="./img/benefits/star.svg" alt="star" />
        <p class="benefits__count">4,8</p>
      </li>
      <li class="benefits__item">
        <img
          class="benefits__img"
          src="./img/benefits/download.svg"
          alt="download"
        />
        <p class="benefits__count">50 000 +</p>
      </li>
      <li class="benefits__item">
        <img
          class="benefits__img"
          src="./img/benefits/reviews.svg"
          alt="reviews"
        />
        <p class="benefits__count">1000 +</p>
      </li>
      <li class="benefits__item">
        <img class="benefits__img" src="./img/benefits/wifi.svg" alt="wifi" />
        <p class="benefits__count">Online/Offline</p>
      </li>
    </ul>
  </div>
</section>
