<section class="faq" id="faq">
  <div class="container faq__position">
    <h2 class="faq__title">FAQ</h2>

    <img class="faq__redball" src="./img/faq/red-ball.svg" alt="red ball" />
    <img class="faq__blueBall" src="./img/faq/blue-ball.svg" alt="blue ball" />

    <ul class="faq__list">
      <li></li>
      <li class="faq__item">
        <p class="faq__first">How do I start playing?</p>
        <p>Download the game from the Google Play Store and hit 'Play'.</p>
      </li>
      <li class="faq__item">
        <p class="faq__first">Can I play without internet?</p>
        <p>
          Yes, you can play offline but some features require an internet
          connection.
        </p>
      </li>
      <li class="faq__item">
        <p class="faq__first">Are there in-app purchases?</p>
        <p>Yes, but they are optional.</p>
      </li>
      <li class="faq__item">
        <p class="faq__first">How can I get more lives?</p>
        <p>Lives refill over time or can be purchased.</p>
      </li>
      <li class="faq__item">
        <p class="faq__first">What are special bubbles?</p>
        <p>
          These bubbles have unique effects, like clearing entire lines or
          exploding all bubbles of the same color.
        </p>
      </li>
      <li class="faq__item">
        <p class="faq__first">Can I play with friends?</p>
        <p>Yes, you can connect with friends for more fun and challenges.</p>
      </li>
      <li class="faq__item">
        <p class="faq__first">Is there a way to reset the game?</p>
        <p>Yes, you can restart any level at any time.</p>
      </li>
      <li class="faq__item">
        <p class="faq__first">What do I do if the game crashes?</p>
        <p>Try restarting your device or reinstalling the game.</p>
      </li>
      <li class="faq__item">
        <p class="faq__first">How often are new levels added?</p>
        <p>New levels are added regularly.</p>
      </li>
      <li class="faq__item">
        <p class="faq__first">Is there a player support service?</p>
        <p>
          Yes, you can contact support through the game's settings menu for any
          issues.
        </p>
      </li>
    </ul>
    <img class="faq__chicken" src="./img/faq/chicken.svg" alt="chicken" />
  </div>
</section>
