<footer class="footer">
  <div class="container footer__wrapper">
    <a class="footer__logo--min" href="/Bubble-CoCo/"
      ><img src="./img/logoImg/logo-min.svg" alt="site-logo"
    /></a>
    <a class="footer__logo--origin" href="/Bubble-CoCo/"
      ><img src="./img/logoImg/logo.svg" alt="site-logo"
    /></a>
    <div class="footer__line"></div>
    <nav class="footer-navigation">
      <ul class="footer-navigation__list">
        <li class="footer-navigation__item">
          <a href="#" class="footer-navigation__link">Home</a>
        </li>
        <li class="footer-navigation__item">
          <a href="#advantages" class="footer-navigation__link">Advantages</a>
        </li>
        <li class="footer-navigation__item">
          <a href="#about" class="footer-navigation__link">About the Game</a>
        </li>
        <li class="footer-navigation__item">
          <a href="#how-to-play" class="footer-navigation__link">How to Play</a>
        </li>
        <li class="footer-navigation__item">
          <a href="#benefits" class="footer-navigation__link">Benefits</a>
        </li>
        <li class="footer-navigation__item">
          <a href="#faq" class="footer-navigation__link">FAQ</a>
        </li>
        <li class="footer-navigation__item">
          <a href="#gallery" class="footer-navigation__link">Gallery</a>
        </li>
      </ul>
    </nav>
    <div class="text">
      <p class="text__rights">All rights reserved joinwinworld.com | 2024</p>
      <ul class="text__list">
        <li class="text__item">
          <a class="text__link" href="./privacyPolicy.html"
            >Privacy policy /
          </a>
        </li>
        <li class="text__item">
          <a class="text__link" href="./tetmsConditions.html"
            >Terms and conditions</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
