<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery__title">Gallery</h2>
    <div class="gallery__swiper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/galleryImg/gallery-origin-1-1x.png 1x,
                  ./img/galleryImg/gallery-origin-1-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/galleryImg/gallery-min-1-1x.png 1x,
                  ./img/galleryImg/gallery-min-1-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/galleryImg/gallery-min-1-1x.png"
                alt="first-slider"
                class="slider-img"
                height="223px"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/galleryImg/gallery-origin-2-1x.png 1x,
                  ./img/galleryImg/gallery-origin-2-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/galleryImg/gallery-min-2-1x.png 1x,
                  ./img/galleryImg/gallery-min-2-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/galleryImg/gallery-min-2-1x.png"
                alt="second-slider"
                class="slider-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/galleryImg/gallery-origin-3-1x.png 1x,
                  ./img/galleryImg/gallery-origin-3-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/galleryImg/gallery-min-3-1x.png 1x,
                  ./img/galleryImg/gallery-min-3-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/galleryImg/gallery-min-3-1x.png"
                alt="third-slider"
                class="slider-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/galleryImg/gallery-origin-4-1x.png 1x,
                  ./img/galleryImg/gallery-origin-4-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/galleryImg/gallery-min-4-1x.png 1x,
                  ./img/galleryImg/gallery-min-4-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/galleryImg/gallery-min-4-1x.png"
                alt="forth-slider"
                class="slider-img"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/galleryImg/gallery-origin-5-1x.png 1x,
                  ./img/galleryImg/gallery-origin-5-2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/galleryImg/gallery-min-5-1x.png 1x,
                  ./img/galleryImg/gallery-min-5-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                src="./img/galleryImg/gallery-min-5-1x.png"
                alt="fifth-slider"
                class="slider-img"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="gallery__btn gallery__btn--back swiper-button-prev">
        <img src="./img/galleryImg/back-min.svg" alt="arrow-back" />
      </div>
      <div class="gallery__btn gallery__btn--next swiper-button-next">
        <img src="./img/galleryImg/next-min.svg" alt="arrow-next" />
      </div>
    </div>
  </div>
</section>
