<header class="header">
  <div class="container header__wrapper">
    <a class="header__logo--min" href="/Bubble-CoCo/"
      ><img src="./img/logo-min.svg" alt="site-logo"
    /></a>
    <a class="header__logo--origin" href="/Bubble-CoCo/"
      ><img src="./img/logo.svg" alt="site-logo"
    /></a>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/Bubble-CoCo/#home" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="/Bubble-CoCo/#advantages" class="navigation__link"
            >Advantages</a
          >
        </li>
        <li class="navigation__item">
          <a href="/Bubble-CoCo/#about" class="navigation__link"
            >About the Game</a
          >
        </li>
        <li class="navigation__item">
          <a href="/Bubble-CoCo/#how-to-play" class="navigation__link"
            >How to Play</a
          >
        </li>
        <li class="navigation__item">
          <a href="/Bubble-CoCo/#benefits" class="navigation__link">Benefits</a>
        </li>
        <li class="navigation__item">
          <a href="#faq" class="navigation__link">FAQ</a>
        </li>
        <li class="navigation__item">
          <a href="/Bubble-CoCo/#gallery" class="navigation__link">Gallery</a>
        </li>
      </ul>
    </nav>
    <button class="open-button">
      <img src="./img/icons/menu.svg" alt="open-btn" />
    </button>
  </div>
  <div class="mob-menu is-hidden">
    <nav class="menu-navigation">
      <ul class="menu-navigation__list">
        <li class="menu-navigation__item">
          <a href="#home" class="menu-navigation__link">Home</a>
        </li>
        <li class="menu-navigation__item">
          <a href="#advantages" class="menu-navigation__link">Advantages</a>
        </li>
        <li class="menu-navigation__item">
          <a href="#about" class="menu-navigation__link">About the Game</a>
        </li>
        <li class="menu-navigation__item">
          <a href="#how-to-play" class="menu-navigation__link">How to Play</a>
        </li>
        <li class="menu-navigation__item">
          <a href="#benefits" class="menu-navigation__link">Benefits</a>
        </li>
        <li class="menu-navigation__item">
          <a href="#faq" class="menu-navigation__link">FAQ</a>
        </li>
        <li class="menu-navigation__item">
          <a href="#gallery" class="menu-navigation__link">Gallery</a>
        </li>
      </ul>
    </nav>
    <button class="close-button">
      <img src="./img/icons/close.svg" alt="close-btn" />
    </button>
  </div>
</header>
