<section class="how-to-play" id="how-to-play">
  <div class="container">
    <h2 class="how-to-play__title">How to Play</h2>
    <ul class="how-to-play__list">
      <li class="how-to-play__item">
        <p class="how-to-play__text">Aim and shoot bubbles to match colors</p>
        <picture>
          <source
            srcset="
              ./img/howToPlay/shoot-&-match-desktop-1x.png 1x,
              ./img/howToPlay/shoot-&-match-desktop-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/howToPlay/shoot-&-match-1x.png 1x,
              ./img/howToPlay/shoot-&-match-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="how-to-play__image"
            src="./img/howToPlay/shoot-&-match-1x.png"
            alt="shoot & match"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__text">Clear levels by freeing all chicks</p>
        <picture>
          <source
            srcset="
              ./img/howToPlay/save-the-chicks-desktop-1x.png 1x,
              ./img/howToPlay/save-the-chicks-desktop-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/howToPlay/save-the-chicks-1x.png 1x,
              ./img/howToPlay/save-the-chicks-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="how-to-play__image"
            src="./img/howToPlay/save-the-chicks-1x.png"
            alt="save the chicks"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__text">
          Use special bubbles for explosive effects
        </p>
        <picture>
          <source
            srcset="
              ./img/howToPlay/aim-&-pop-desktop-1x.png 1x,
              ./img/howToPlay/aim-&-pop-desktop-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/howToPlay/aim-&-pop-1x.png 1x,
              ./img/howToPlay/aim-&-pop-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="how-to-play__image"
            src="./img/howToPlay/aim-&-pop-1x.png"
            alt="power up"
          />
        </picture>
      </li>
      <li class="how-to-play__item">
        <p class="how-to-play__text">
          Plan moves to solve puzzles efficiently.
        </p>
        <picture>
          <source
            srcset="
              ./img/howToPlay/aim-&-pop-desktop-1x.png 1x,
              ./img/howToPlay/aim-&-pop-desktop-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/howToPlay/aim-&-pop-1x.png 1x,
              ./img/howToPlay/aim-&-pop-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="how-to-play__image"
            src="./img/howToPlay/aim-&-pop-1x-1x.png"
            alt="aim & pop"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
