.gallery {
  padding-top: 40px;

  @include media(desktop) {
    padding-top: 100px;
  }
  &__swiper {
    display: flex;
    margin: 0 auto;
    position: relative;
    width: 226px;

    @include media(desktop) {
      width: 100%;
    }
  }
  &__title {
    text-align: center;

    margin-bottom: 20px;
    @include font(24, 29);
    font-weight: 400;

    @include media(desktop) {
      @include font(64, 77);
      margin-bottom: 28px;
    }
  }
  &__btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--back {
      left: -30px;
      @include media(desktop) {
        scale: 3;
        left: -67px;
      }
    }
    &--next {
      right: -30px;
      @include media(desktop) {
        scale: 3;
        right: -67px;
      }
    }
  }
}
.swiper-slide img {
  @include media(desktop) {
    height: 768px;
  }
}
