.header {
  z-index: 1;
  width: 100%;
  position: absolute;
  padding-top: 23px;
  @include media(desktop) {
    padding-top: 36px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo--origin {
    display: none;
    @include media(desktop) {
      display: flex;
    }
  }
  &__logo--min {
    @include media(desktop) {
      display: none;
    }
  }
}

.navigation {
  display: none;
  @include media(desktop) {
    display: flex;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__link {
    @include font(20, 24);
    transition-property: all;
    transition-duration: $transition;
    transition-timing-function: $transition-cubic-bezier;

    &:hover {
      text-decoration: underline;
    }
  }
}

.open-button,
.close-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  @include media(desktop) {
    display: none;
  }
}
.mob-menu {
  position: absolute;
  top: 23px;
  width: 241px;
  background-color: $_second_bg_color;
  @include media(desktop) {
    display: none;
  }
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
}
.menu-navigation {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 28px;
  padding-right: 68px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__link {
    @include font(20, 24);
    transition-property: all;
    transition-duration: $transition;
    transition-timing-function: $transition-cubic-bezier;

    &:hover {
      text-decoration: underline;
    }
  }
}
