@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@500&display=swap');
@import './header.scss';
@import './hero.scss';
@import './privacy.scss';
@import './conditions.scss';
@import './advanteges.scss';
@import './gallery.scss';
@import './picture.scss';
@import './footer.scss';
@import './aboutTheGame.scss';
@import './howToPlay.scss';

:root {
  font-family: $_main_font_family;
  font-size: $_main_font_size;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  color: $_main_text_color;

  background-image: url(../img/backgroundImg/background-mob-1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../img/backgroundImg/background-mob-2x.png);
  }
  @include media(desktop) {
    background-image: url(../img/backgroundImg/background-origin-1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/backgroundImg/background-origin-2x.png);
    }
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hidden {
  overflow: hidden;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
